Body{
  background-color: gold;
}


#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}

#languages {
background-color:rgba(255,0,0,0.3);

}
#external {
background-color:rgba(0,0,255,0.3)

}

#links {
background-color:rgba(0,255,0,0.3);

}

.flex-container {
  display: flex;
  background-color: aliceblue;
}

h1 {
  text-align: center;
  color: indigo;
}
