
p {
  font: italic small-caps bold 16px/2 cursive;
font-size: large
color: blue;
}

li {
font: 1.2em "Fira Sans", serif;

}



.purple {
 color: rebeccapurple;
}

#tasty {
  background-color: orange;
  border: solid;
}

.color2 {
color: rgb(214, 122, 127);
}
